node_modules/
.expo/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

ode_modules/
  .expo/
  dist/
  web-build/
  .expo-shared/

  .env
  .env.local
  .env.*.local

  npm-debug.log*
  yarn-debug.log*
  yarn-error.log*

  .DS_Store
  Thumbs.db